﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    大家好！我叫<strong>Anson</strong> <br/><br />
    這個網站主要是因為我在寫<a href="http://anson-programming.blogspot.tw/" target="_blank">Blog</a><br /><br />
    常常需要貼Code<br /><br />
    但會遇到&lt;與&gt;轉換的麻煩(之前都是用記事本轉)<br /><br />
    所以Demo了一個轉換的網頁<br /><br />
    方便大家轉換
</p>

