﻿<br />
<h2>部落格貼CODE專用.</h2>
<br />
<h4>替換&lt;括號 與 &gt;括號</h4>
<br />
<br />
<textarea class="form-control" style="width:100%;" id="codes" rows="15" placeholder="這邊貼上你要分享在Blog的Code"></textarea>
<br />
<br />
<button class="btn btn-primary" onclick="myReplaceFunc()">Replace符號</button>
@section scripts {
    <script>
        function myReplaceFunc() {
            var codeString = $('#codes').val();
            var result = codeString.replace(/</gi, "&lt;").replace(/>/gi, "&gt;");
            $("#codes").val(result);
        }

        function myCopyFunc() {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($('#codes').val()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
}
